# composer
/vendor/
/composer.lock

# build artifacts (coverage reports)
/build/

# php tooling caches
/.phpstan.cache/
/.phpunit.cache/
/.phpunit.result.cache
/.php-cs-fixer.cache
/.phan/cache/

# ide
/.idea/
